<div>

    <div>

        {{#each allBeers}}
        <div>
            <div >
                <img  src="{{image_url}}" alt="">
                <div>
                            <h3>{{name}}</h3>
                            <p>{{description}}</p>
                            <p>{{tagline}}</p>
                            <div>
                                <h4>Food Pairing</h4>
                                <ul>
                                    {{#each food_pairing}}
                                    <li>{{this}}</li>
                                    {{/each}}
                            
                                </ul>
                            </div>
                            <p>
                                <span>Brewers Tips</span>
                                {{brewers_tips}}
                            </p>
                </div>
            </div>
        </div>
        {{/each}}
     </div>
   
    <hr>
    <a href="/">Back to Home</a>
</div>